.Content {
  position: absolute;
  top: 60px;
  height: calc(100% - 60px);
  width: 100%;
  overflow: hidden;
}
.Title {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  color: rgb(2, 30, 57, 0.9);
}
.TopBar {
  margin: 20px auto 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 1010px;
}
.IntervalContainer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  position: relative;
}
.Intervals {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.IntEnabled {
  border-radius: 50px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  border: 3px solid rgb(16, 30, 117);
  background: rgb(16, 30, 117, 0.1);
  outline: none;
}
.IntDisabled {
  display: none;
}
.IntEnabled:hover {
  background: rgb(16, 30, 117, 0.3);
}
.InnerTitle {
  display: none;
}
@media (max-width: 1020px) {
  .IntervalContainer {
    top: -6.25px;
  }
}
@media (max-width: 995px) {
  .IntervalContainer {
    top: -12.5px;
  }
}
@media (max-width: 970px) {
  .IntervalContainer {
    top: -18.75px;
  }
}
@media (max-width: 945px) {
  .IntervalContainer {
    top: -25px;
  }
}
@media (max-width: 920px) {
  .IntervalContainer {
    top: -31.25px;
  }
}
@media (max-width: 895px) {
  .IntervalContainer {
    top: -37.5px;
  }
  .Intervals {
    width: 450px;
  }
}
@media (max-width: 870px) {
  .IntervalContainer {
    top: -43.75px;
  }
}
@media (max-width: 845px) {
  .IntervalContainer {
    top: -50px;
  }
}
@media (max-width: 820px) {
  .IntervalContainer {
    top: -56.25px;
  }
}
@media (max-width: 795px) {
  .IntervalContainer {
    top: -62.5px;
  }
}
@media (max-width: 770px) {
  .IntervalContainer {
    top: -68.75px;
  }
}
@media (max-width: 745px) {
  .IntervalContainer {
    top: -75px;
  }
}
@media (max-width: 720px) {
  .IntervalContainer {
    top: -81.25px;
  }
}
@media (max-width: 695px) {
  .IntervalContainer {
    top: -87.5px;
  }
}
@media (max-width: 670px) {
  .IntervalContainer {
    top: -93.75px;
  }
}
@media (max-width: 645px) {
  .IntervalContainer {
    top: -100px;
  }
}
@media (max-width: 620px) {
  .IntervalContainer {
    top: -106.25px;
  }
}
@media (max-width: 595px) {
  .IntervalContainer {
    top: -112.5px;
  }
}
@media (max-width: 570px) {
  .IntervalContainer {
    top: -118.75px;
  }
}
@media (max-width: 545px) {
  .IntervalContainer {
    top: -125px;
  }
}
@media (max-width: 520px) {
  .IntervalContainer {
    top: -131.25px;
  }
}
@media (max-width: 495px) {
  .IntervalContainer {
    top: -137.5px;
  }
}
@media (max-height: 545px) {
  .IntervalContainer {
    margin-top: 10px;
  }
  .IntEnabled {
    width: 45px;
    height: 45px;
    font-size: 18px;
  }
}
@media (max-height: 520px) {
  .Title {
    margin-bottom: -12px;
  }
  .IntervalContainer {
    margin-top: 3px;
  }
}
@media (max-height: 500px) {
  .Content {
    top: 50px;
    height: calc(100% - 50px);
  }
}
@media (max-height: 485px) {
  .Title {
    display: none;
  }
  .InnerTitle {
    display: block;
    color: rgb(2, 30, 57, 0.9);
    font-size: 26px;
    text-align: center;
  }
  .TopBar {
    margin-top: 10px;
  }
}
@media (max-width: 895px) and (max-height: 450px) {
  .IntEnabled {
    font-size: 16px;
    width: 40px;
    height: 40px;
    margin: 8px;
  }
  .Intervals {
    width: 90%;
  }
}
@media (max-width: 650px) and (max-height: 485px) {
  .InnerTitle {
    font-size: 20px;
  }
  .Intervals {
    width: 100%;
  }
  .IntEnabled {
    font-size: 14px;
    width: 35px;
    height: 35px;
    margin: 5px;
  }
}
@media (max-width: 746px) and (min-width: 650px) and (max-height: 450px) {
  .Intervals {
    width: 55%;
  }
}
@media (max-width: 465px) {
  .Content {
    overflow-x: auto;
  }
}
@media (max-height: 340px) {
  .Content {
    overflow-y: auto;
  }
}
