.Content {
  position: absolute;
  top: 60px;
  height: calc(100% - 60px);
  width: 100%;
  overflow: hidden;
}
.NoScroll {
  overflow-y: hidden;
}
.Title {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  color: rgb(2, 30, 57, 0.9);
  margin-bottom: 0;
}
.TopBar {
  margin: 20px auto 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 1010px;
}
.InnerTitle {
  display: none;
}
@media (max-height: 520px) {
  .Title {
    margin-bottom: -12px;
  }
}
@media (max-height: 500px) {
  .Content {
    top: 50px;
    height: calc(100% - 50px);
  }
}
@media (max-height: 485px) {
  .Title {
    display: none;
  }
  .InnerTitle {
    display: block;
    color: rgb(2, 30, 57, 0.9);
    font-size: 26px;
    text-align: center;
  }
  .TopBar {
    margin-top: 10px;
  }
}
@media (max-width: 650px) and (max-height: 485px) {
  .InnerTitle {
    font-size: 20px;
  }
}
@media (max-width: 465px) {
  .Content {
    overflow-x: auto;
  }
}
@media (max-height: 340px) {
  .Content {
    overflow-y: auto;
  }
}
