.Panel {
  background: white;
  box-shadow: 0 1px 10px 0 rgba(0,0,0,0.75);
  border-radius: 3px;
  width: 400px;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 99;
  position: absolute;
  left: calc(50% - 200px);
  top: 15%;
  max-height: 500px;
  height: 80%;
  padding-bottom: 10px;
}
.Content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(2, 30, 57, 0.9);
  text-align: center;
}
.Content h1 {
  color: rgb(27, 56, 119);
  margin: 0;
  margin-top: -20px;
}
.SetBtn {
  cursor: pointer;
  color: white;
  background: rgb(27, 56, 119);
  border: 0;
  border-radius: 3px;
  padding: 10px 15px;
  font-size: 16px;
  transition: background 200ms;
  margin-top: 20px;
}
.SetBtn:hover {
  transition: background 200ms;
  background: rgb(22, 46, 98);
}
.Content input {
  width: 60px;
  height: 24px;
  font-size: 16px;
}
.Inputs {
  width: 100%;
  display: flex;
  justify-content: center;
}
.Inputs button {
  width: 35px;
  margin-left: 10px;
  cursor: pointer;
}
.Content p {
  position: relative;
}
.Content span {
  color: green;
  position: absolute;
  right: -25px;
  font-size: 20px;
}
.CorrectToday {
  font-size: 14px;
  margin-top: -10px;
}
.SubTitle {
  margin: 15px 0 0;
}
