.NoteContainer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  position: relative;
}
.Notes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.NoteEnabled {
  border-radius: 50px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  border: 3px solid rgb(16, 30, 117);
  background: rgb(16, 30, 117, 0.1);
  outline: none;
}
.NoteDisabled {
  display: none;
}
.NoteEnabled:hover {
  background: rgb(16, 30, 117, 0.3);
}
@media (max-width: 1020px) {
  .NoteContainer {
    top: -6.25px;
  }
}
@media (max-width: 995px) {
  .NoteContainer {
    top: -12.5px;
  }
}
@media (max-width: 970px) {
  .NoteContainer {
    top: -18.75px;
  }
}
@media (max-width: 945px) {
  .NoteContainer {
    top: -25px;
  }
}
@media (max-width: 920px) {
  .NoteContainer {
    top: -31.25px;
  }
}
@media (max-width: 895px) {
  .NoteContainer {
    top: -37.5px;
  }
  .Notes {
    width: 450px;
  }
}
@media (max-width: 870px) {
  .NoteContainer {
    top: -43.75px;
  }
}
@media (max-width: 845px) {
  .NoteContainer {
    top: -50px;
  }
}
@media (max-width: 820px) {
  .NoteContainer {
    top: -56.25px;
  }
}
@media (max-width: 795px) {
  .NoteContainer {
    top: -62.5px;
  }
}
@media (max-width: 770px) {
  .NoteContainer {
    top: -68.75px;
  }
}
@media (max-width: 745px) {
  .NoteContainer {
    top: -75px;
  }
}
@media (max-width: 720px) {
  .NoteContainer {
    top: -81.25px;
  }
}
@media (max-width: 695px) {
  .NoteContainer {
    top: -87.5px;
  }
}
@media (max-width: 670px) {
  .NoteContainer {
    top: -93.75px;
  }
}
@media (max-width: 645px) {
  .NoteContainer {
    top: -100px;
  }
}
@media (max-width: 620px) {
  .NoteContainer {
    top: -106.25px;
  }
}
@media (max-width: 595px) {
  .NoteContainer {
    top: -112.5px;
  }
}
@media (max-width: 570px) {
  .NoteContainer {
    top: -118.75px;
  }
}
@media (max-width: 545px) {
  .NoteContainer {
    top: -125px;
  }
}
@media (max-width: 520px) {
  .NoteContainer {
    top: -131.25px;
  }
}
@media (max-width: 495px) {
  .NoteContainer {
    top: -137.5px;
  }
}
@media (max-height: 545px) {
  .NoteContainer {
    margin-top: 10px;
  }
  .NoteEnabled {
    width: 45px;
    height: 45px;
    font-size: 18px;
  }
}
@media (max-height: 520px) {
  .NoteContainer {
    margin-top: 3px;
  }
}
@media (max-width: 895px) and (max-height: 450px) {
  .NoteEnabled {
    font-size: 16px;
    width: 40px;
    height: 40px;
    margin: 8px;
  }
  .Notes {
    width: 90%;
  }
}
@media (max-width: 650px) and (max-height: 485px) {
  .Notes {
    width: 100%;
  }
  .NoteEnabled {
    font-size: 14px;
    width: 35px;
    height: 35px;
    margin: 5px;
  }
}
@media (max-width: 746px) and (min-width: 650px) and (max-height: 450px) {
  .Notes {
    width: 55%;
  }
}
