.TopBtns {
  display: flex;
  justify-content: space-around;
  width: 200px;
}
.TopBtns button {
  background: white;
  border: 0;
  font-size: 30px;
  color: rgb(2, 30, 57, 0.9);
  cursor: pointer;
  outline: 0;
  display: flex;
  padding: 0;
}
.Hidden {
  display: none;
}
.ArrowUp {
  color: white;
  font-size: 32px;
  position: absolute;
  z-index: 90;
  top: 100px;
}
.RepeatText {
  color: white;
  font-size: 14px;
  position: absolute;
  z-index: 90;
  top: 135px;
}
.NoSpin {
  display: flex;
}
.Spin {
  display: flex;
  transform: rotate(180deg);
  transition: transform 500ms;
}
@media (max-height: 520px) {
  .RepeatText {
    top: 120px;
  }
  .ArrowUp {
    top: 85px;
  }
}
@media (max-height: 485px) {
  .ArrowUp {
    top: 60px;
  }
  .RepeatText {
    top: 95px;
  }
}
