.ShowSettings {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 5;
  background: rgba(0, 0, 0, 0.3);
}
.Hide {
  display: none;
}
.SettingsDiv {
  background: white;
  box-shadow: 0 1px 10px 0 rgba(0,0,0,0.75);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 3px;
  overflow-x: hidden;
  overflow-y: auto;
  width: 400px;
  height: 70%;
  max-height: 400px;
  position: absolute;
  top: 15%;
  left: calc(50% - 200px);
}
.SettingsTop {
  width: 100%;
}
.SettingsTitle {
  color: rgb(2, 30, 57, 0.9);
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding: 0 10px;
}
.SettingsIntervals {
  margin: 10px 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 300px;
}
.SettingIntEnabled {
  border-radius: 50px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  border: 1.5px solid rgb(16, 30, 117);
  background: rgb(16, 30, 117, 0.1);
  outline: none;
  width: 35px;
  height: 35px;
  margin: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.SettingIntDisabled {
  border-radius: 50px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  border: 1.5px solid #ddd;
  background: rgb(0, 0, 0, 0.1);
  outline: none;
  width: 35px;
  height: 35px;
  margin: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.SettingsErrMsg {
  opacity: 1;
  margin-bottom: 10px;
  transition: 350ms opacity;
  color: rgb(2, 30, 57);
  text-align: center;
}
.HideOpacity {
  opacity: 0;
}
.SettingsBtns {
  display: flex;
  justify-content: center;
}
.SettingsBtns button {
  width: 90px;
  height: 40px;
  margin: 10px 5px 15px;
  border-radius: 3px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}
.BtnSelected {
  background: #eee;
  border: 2px solid rgb(16, 30, 117);
  text-align: center;
}
.BtnUnselected {
  background: #ddd;
  border: 2px solid #ddd;
  text-align: center;
}
.Question {
  font-size: 20px;
  position: relative;
  top: 4px;
  left: 10px;
  cursor: pointer;
}
.InfoText {
  color: rgb(2, 30, 57, 0.9);
  font-size: 14px;
  text-align: center;
  width: 75%;
  display: block;
}
.Switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 10px auto 30px;
}
.Switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.Slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ddd;
  -webkit-transition: 300ms;
  transition: 300ms;
  border-radius: 34px;
  width: 60px;
  height: 34px;
}
.Slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 300ms;
  transition: 300ms;
  border-radius: 50%;
}
.Switch input:checked + .Slider {
  background: rgb(2, 30, 57, 0.9);
}
.Switch input:checked + .Slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* @media (max-width: 1124px) {
  .SettingsIntervals {
    width: 70%;
  }
}
@media (max-width: 964px) {
  .SettingsIntervals {
    width: 80%;
  }
}
@media (max-width: 843px) {
  .SettingsIntervals {
    width: 90%;
  }
}
@media (max-width: 749px) {
  .SettingsDiv {
    width: 50%;
  }
  .SettingsIntervals {
    width: 80%;
  }
}
@media (max-width: 674px) {
  .SettingsIntervals {
    width: 90%;
  }
}
@media (max-width: 590px) {
  .SettingsBtns {
    flex-direction: column;
  }
}
@media (min-height: 650px) {
  .SettingsDiv {
    margin-top: 130px;
  }
  .ShowSettings {
    align-items: flex-start;
  }
}
@media (max-height: 530px) {
  .SettingsDiv {
    padding-bottom: 10px;
  }
} */
