.CloseBtn {
  float: right;
  margin: 10px;
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
  border: 0;
  border-radius: 3px;
  background: rgb(5, 55, 99);
  color: white;
  outline: none;
  transition: background 200ms;
  overflow: hidden;
}
.CloseBtn:hover {
  transition: background 200ms;
  background: rgb(2, 26, 48);
}
.CloseBtn span {
  display: flex;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 25px;
}
