.PanelOpacity-enter {
  opacity: 0;
}
.PanelOpacity-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}
.PanelOpacity-exit {
  opacity: 1;
}
.PanelOpacity-exit-active {
  opacity: 0;
  color: white;
  transition: opacity 150ms;
}
.AuthPanel-enter {
  opacity: 0;
  transform: translateX(70px);
}
.AuthPanel-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 400ms ease-out;
}
.AuthPanel-exit {
  opacity: 1;
}
.AuthPanel-exit-active {
  opacity: 0;
  transform: translateX(70px);
  transition: all 400ms ease-out;
}
.BackdropOpacity-enter {
  opacity: 0;
}
.BackdropOpacity-enter-active {
  opacity: 1;
  transition: opacity 400ms ease-out;
}
.BackdropOpacity-exit {
  opacity: 1;
}
.BackdropOpacity-exit-active {
  opacity: 0;
  transition: opacity 400ms ease-out;
}
