.Icon a {
  position: relative;
  top: -5px;
  left: 2px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.Icon img {
  transform: rotate(45deg);
  height: 30px;
  filter: invert(100%);
}
.Icon:hover a {
  color: #8089cd;
}
.Icon:hover img {
  filter: invert(59%) sepia(83%) saturate(602%) hue-rotate(197deg) brightness(85%) contrast(87%);
}
